.container
{
    background-color: white;
}
.content{
    padding: 10px;    
}
.header
{
    background-color: rgb(248,248,248);
    color: black;
    text-align: center;
    padding: 20px;
}
body{
    background-color: rgb(248,248,248);
}
.switch
{
    margin: 2px;
    width: 100%;
}
.tickets{
    padding: 50px;
}
.form-group input
{
    margin: 2px;
    width: 100%;
}
.questionCase
{
    max-height: 400px;
}
.questionCase img
{
    max-height: 300px;
    max-width: 600px;
}
.btn-question
{
    margin: 1px;
}
.btn-answer{
    border: 1px solid var(--bs-dark);
}
.row button
{
    margin:2px;
}